:root {
        --color-screen: #fbfbf9;
        --color-pink: #F97E89;
        --color-text: #292525;
    
        --text: var(--color-text);

    }

body { 
    background-color: var(--color-screen);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    margin: 2rem; 
    padding: 2rem; 
}

/* fonts */
h1 {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: .05rem;
    line-height: 1.6;
    margin: 2rem 1rem 1rem 1rem;
    padding: 1rem;
}

h3, li { 
    font-family: 'Abril Fatface', cursive;
    font-size: 1.25rem;
}

li {
    font-family: 'Karla', sans-serif;
    max-width: 80ch;
    letter-spacing: .05rem;
    line-height: 1.6;
    margin: .5rem;
    padding: .5rem;
}

/* links */
a.hover-link {
    color: var(--color-pink); 
    text-decoration: underline; 
}

a.hover-link:hover {
    color: var(--color-pink); 
    text-decoration: underline; 
}

a:link {
    color: var(--color-text);
    text-decoration: none;
}

a:visited {
    color: var(--color-text);
    text-decoration: none;
}

img {
    min-width: 75%; 
    height: auto; 
    margin: 1rem 5rem 1rem 5rem;
    padding: 1rem 5rem 1rem 5rem;

}

/* tablet */
@media (max-width: 1000px) {

    body {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        flex-direction: column;
        margin: 1rem; 
        padding: 1rem; 
      }

    h1 {
        margin: .5rem;
        padding: .5rem;
    }
  
    a:link {
        color: var(--color-pink);
        text-decoration: underline;
    }
    
    a:visited {
        color: var(--color-pink);
        text-decoration: underline;
    }

    img {
        min-width: 50%; 
    }
    
  }
  
  /* iphone */
   @media (max-width: 650px) {
  
    body {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        flex-direction: column;
        margin: .5rem; 
        padding: .5rem; 
    }
  
    h1 {
      font-size: 1.5rem;
      margin: .5rem;
      padding: .5rem;
    } 
  
    h3 {
      font-size: 1rem;
    }
  
    li {
      font-size: 1rem;
    }

    img {
        max-width: 75%;
        max-height: 75%;
    }
    
    }
  