:root {
        --color-screen: #fafaf8;
        --color-pink: #f85f6c;
        --color-text: #292525;
        --color-quickshop: #ffffff5d;
    
        --text: var(--color-text);

    }

body { 
    background-color: var(--color-screen);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    margin: 1rem; 
    padding: 1rem; 
}

/* fonts */
h1 {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: .05rem;
    line-height: 1.6;
    margin: .5rem;
    padding: .5rem;
}

h3, li { 
    font-family: 'Abril Fatface', cursive;
    font-size: 1.25rem;
    margin: 2rem 0rem 0rem 0rem;
    padding: .5rem;
}


li  {
    font-family: 'Karla', sans-serif;
    font-size: 1.25rem;
    max-width: 80ch;
    letter-spacing: .05rem;
    line-height: 1.6;
    margin: .5rem;
    padding: .5rem;
}

p {
    font-family: 'Karla', sans-serif;
    font-size: 1.25rem;
    color:  var(--color-text);
    max-width: 80ch;
    letter-spacing: .05rem;
    line-height: 1.6;
    margin: .5rem;
    padding: .5rem;
}

.name {
    font-family: 'Abril Fatface', cursive;
    font-size: 1.25rem;
    color:  var(--color-pink);
    margin: .25rem;
    padding: .25rem .25rem 1rem .25rem;
}

/* links */
a.hover-link {
    color: var(--color-pink); 
    text-decoration: underline; 
}

a.hover-link:hover {
    color: var(--color-pink); 
    text-decoration: underline; 
}

a:link {
    color: var(--color-text);
    text-decoration: underline;
}

a:visited {
    color: var(--color-text);
    text-decoration: underline;
}

img {
  max-width: 100%;
  padding: .5rem;
  margin: .5rem;
}

/* MICRO INTERACTION */

/* image container and animation */
.image_container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

/* images */
.image_container img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease-in-out;
}

/* hide the hover image */
.hover_image {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

/* on hover, show the hover image */
.image_container:hover .hover_image {
    opacity: 1;
    cursor: pointer;
}

/* on hover, text color changes to pink */
.image_container:hover + .product_text .product_name {
    color: var(--color-pink);
    cursor: pointer;
}

/* quick shop button on bottom */
.quickshop_button {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-quickshop);
    color: var(--color-text);
    padding: 1rem;
    font-size: 20px;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 1.25rem;
    letter-spacing: .05rem;
    border: none;
}

.quickshop_button:hover {
    color: var(--color-pink);
    cursor: pointer;
    transition: 0.3s ease-in-out 0.3s;
}

.image_container:hover .quickshop_button {
    display: block;
    cursor: pointer;
}


/* show "Quickshop" button when hovering */
.image-container:hover .quickshop_button {
    display: block;
    cursor: pointer;
}

/* favorites button on top */
.favorites_button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: white;
    color: black;
    font-size: 20px;
    padding: 1rem;
    border-radius: 50%;
    width: .5rem;
    height: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
}

/* show the favorites button when hovering */
.image_container:hover .favorites_button {
    opacity: 1;
    cursor: pointer;
}

.favorites_button:hover {
    color: var(--color-pink);
    cursor: pointer;
    transition: 0.3s ease-in-out 0.3s;
}

/* text for product and desc */
h3.product_name {
    margin: 1rem 1rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0rem
}

p.product_desc {
    margin:  0rem;
    padding: 0rem 0rem 0rem 0rem;
    color: var(--color-text);
    font-size: 1rem;
}


/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.3s ease-in-out 0.3s;
  }
  
  .modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    margin: 2rem;
    transition: 0.3s ease-in-out 0.3s;
  }
  
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    color: var(--color-text);
    transition: 0.3s ease-in-out 0.3s;
  }  

  .close:hover {
    color: var(--color-pink);
    cursor: pointer;
  } 

  .modal_layout {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: row;
  }

  .modal_left {
    padding: .5rem;
    margin: .5rem;
  }

  .modal_right {
    padding: .5rem;
    margin: .5rem;
  }

  .product_name_modal {
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
  }

  .product_desc_modal, .product_size_modal, .product_color_modal {
    font-size: .75rem;
    color: var(--color-text);
  }

  .product_color_modal, .product_size_modal {
    padding: .5rem .5rem 0rem .5rem;
    margin: .5rem .5rem 0rem .5rem;
  }

  .product_colors {
    display: flex;
    flex-direction: row;
    padding: 0rem .5rem .5rem .5rem;
  }

  .black_color {
    width: 1rem;
    height: 1rem;
    background-color: black;
    border-radius: 50%;
    margin: 0.5rem;
}

   .brown_color {
    width: 1rem;
    height: 1rem;
    background-color: brown;
    border-radius: 50%;
    margin: 0.5rem;
}

.sizes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-family: "Karla";
    font-size: .5rem;
    color: var(--color-text);
    margin: 0rem .5rem .5rem .5rem;
    padding: 0rem .5rem .5rem .5rem;
  }

  .size {
    margin: .1rem;
    padding: .25rem;
    border: .5px solid var(--color-text);
  }

  .size:hover {
    color: var(--color-pink);
    background-color: var(--color-screen);
    border: .5px solid var(--color-pink);
    transition: 0.3s ease-in-out 0.3s;
    cursor: pointer;
  }

  .modal_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .addToCart {
    font-family: "karla";
    font-size: .75rem;
    letter-spacing: 2px;
    color: var(--color-screen);
    margin: 0.5rem;
    padding: 0.5rem;
    width: 20rem;
    background-color: var(--color-pink);
    border: 1px solid var(--color-pink);
  }

  .addToCart:hover {
    color: var(--color-pink);
    background-color: var(--color-screen);
    border: 1px solid var(--color-pink);
    transition: 0.3s ease-in-out 0.3s;
    cursor: pointer;
  }

  .viewDetail {
    font-family: "karla";
    font-size: .75rem;
    letter-spacing: 2px;
    color: var(--color-pink);
    margin: 0.5rem;
    padding: 0.5rem;
    width: 15rem;
    background-color: var(--color-screen);
    border: 1px solid var(--color-pink);
  }

  .viewDetail:hover {
    color: var(--color-screen);
    background-color: var(--color-pink);
    border: 1px solid var(--color-pink);
    transition: 0.3s ease-in-out 0.3s;
    cursor: pointer;
  }


/* tablet */
@media (max-width: 1000px) {

    body {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        flex-direction: column;
        margin: 1rem; 
        padding: 1rem; 
      }
  
    a:link {
        color: var(--color-pink);
        text-decoration: underline;
    }
    
    a:visited {
        color: var(--color-pink);
        text-decoration: underline;
    }

    .image-container {
        max-width: 100%;
    }

    img {
      max-width: 100%;
    }
    }
    
  
  /* iphone */
   @media (max-width: 650px) {
  
    body {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        flex-direction: column;
        margin: .5rem; 
        padding: .5rem; 
    }
  
    h1 {
      font-size: 1.5rem;
    } 
  
    h3 {
      font-size: 1rem;
      margin: 1rem 0rem 0rem 0rem;
      padding: .25rem;
    }
  
    li {
      font-size: 1rem;
    }

    .quickshop_button {
        padding: .5rem;
        font-size: 16px;
        text-align: center;
        letter-spacing: .025rem;
    }

    .favorites_button {
        top: .5rem;
        right: .5rem;
        background: white;
        color: black;
        font-size: 12px;
        padding: .5rem;
        border-radius: 50%;
        width: .25rem;
        height: .25rem; 
    }

    p{
        font-size: 16px;
        max-width: 20ch;    
    }

    img {
      max-width: 100%;
    }
    

    .image_container {
        max-width: 100%;
    }
    }